@import "./base.css";
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.container {
  max-width: 1536px;
  width: 100vw;
}

.default-input {
  background-color: whitesmoke;
  color: #666666;
  border-radius: 8px;
  border: 0px solid #ccc;
  height: 2.2rem;
  box-shadow: 0px 0px 10px #ccc;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.default-label {
  color: #1e1e1e;
  font-size: 0.75rem;
  padding-left: 10px;
}

.default-btn {
  color: #4836a9;
  border-radius: 8px;
  border: 1px solid #4836a9;
  height: 2.2rem;
  box-shadow: 0px 0px 10px #ccc;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}

.default-btn:disabled,
.default-btn[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
/* xs */
@media (max-width: 475px) {
  .container {
    max-width: 475px;
  }
}
